* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'BodoniMT';
  src: url('../font/BOD_B.woff') format('woff');
}

body {
  margin: 0;
}


a {
  text-decoration: none;
}

img {
  width: 100%;
}

.h1 {
  color: #0e3565;
  font-size: 55px;
  margin: 0 0 2rem;
}

.darkBlue{
  color: #0e3565;
}

.darkBlueBg{
 background-color: #0e3565;
}
.ExDarkBlueBg{
  background-color: #0b1c2e;
}
.white{
  color: #ffffff;
}

.yellow{
  color: #f2c21a;
}
.yellowBg{
  background-color: #f2c21a;
}
.Grey{
color: #afb1ca;
}
.ExDarkGrey{
  color: #233343;
}

.ExDarkGreyBg{
  background-color: #233343;
}


.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.col-3{
  width: 25%;
}
.col-4{
  width: 33.33333%;
}
.col-5{
  width: 41.666%;
}
.col-md-6 {
  width: 50%;
  padding: 0 1rem;
}

.col-7{
  width: 58.33%;
}

.col-12 {
  width: 100%;
  padding: 0 1rem;
}
p{
  line-height: 1.5;
}

.defaultPadding{
  padding: 5rem 0;
}
.secH{
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0;
}
.thirdH{
  font-size: 1.2rem;
  font-weight: 800;
}

/* header css start */
.HeadTabBar .container{
  padding: 0 1rem;
}
.HeadTabBar select{
  background-color: #0e3565;
  color: white;
  border: none;
  margin-right: 10px;
}

.HeadTabBar .col-7 a{
  color: white;
  margin: 0 10px;
}
.HeadTabBar .col-7 a:hover{
  color: #f2c21a;
}
.HeadTabBar .col-7 a i{
  padding-right: 5px;
}

.HeadTabBar .col-3 a:first-child{
  display: inline-block;
  padding: 15px 20px;
  font-weight: 600;
  margin-right: 15px;
}
.HeadTabBar .col-3 a[class~="fa-brands"]{
  display: inline-block;
  margin: 10px;
}
.HeadTabBar .fa-brands:hover{
  color: #f2c21a;
}

.navbar .navbar-brand{
margin: 15px 0;
width: 12rem;
}

.navbar-nav{
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
}
.navbar-nav .nav-link{
  display: inline-block;
 margin: 10px 15px;
 font-weight: 600;
 color: #0e3565;
}
.navbar-nav .nav-link:hover{
  color: #f2c21a;
}

/* header css End */

/* banner css start */
.Banner{
  position: relative;
}
.Banner .container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.h1 span{
  color: #f2c21a;
}
.btn{
  display: inline-block;
  padding: 15PX 30PX ;
  font-weight: 600;
  border-radius: 2px;
}
.btn:hover{
  filter: brightness(130%);
}
.Banner .btn {
  margin-right: 8px;
}

/* banner css End */

/* our industry css start */

.Our_Industry .container{
  text-align: center;
}
.Our_Industry .col-4{
  padding: 1.5rem;
  margin-top: 2.5rem;
}
.Our_Industry .col-4:first-child{
  box-shadow: -10px 8px 25px #00000021;
}
.Our_Industry .col-4:nth-child(2){
  box-shadow: 0 18px 25px -10px #00000021;
}
.Our_Industry .col-4:last-child{
  box-shadow: 10px 8px 25px #00000021;
}
.Our_Industry .col-4 i{
  font-size: 2.5rem;
}
.Our_Industry .col-4:hover{
  background-color: #0e3565;
}
.Our_Industry .col-4:hover .thirdH,.Our_Industry .col-4:hover  p{
  color: #ffffff;
}

/* our industry css End */

/* Year30 css start */
.Year30{
  background-image: url('../image/slide2v.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.Year30 .col-md-6:first-child{
  padding-right: 3rem;
}
.Year30 .btn{
  margin-top: 2.5rem;
}
/* Year30 css End */

/* Happy Client css start */
.HappyClient{
  text-align: center;
}
.HappyClient .picSmall{
  width: 100px;
  margin-top: 2.5rem;
}
.HappyClient .picBig{
  width: 150px;
  margin: 1rem;
}
.HappyClient .row{
  justify-content: center;
  align-items: start;
}

.HappyClient i:first-child{
  font-size: 3rem;
  margin-bottom: 1rem;
}
.HappyClient .p1{
  padding: 0 5rem;
}
.HappyClient .p2{
  margin-bottom: 0;
}
/* Happy Client css start */

/*  we advice you section css start  */
.we_advice{
background-image: url('../image/slide3.png');
background-repeat: no-repeat;
background-size: cover;
}
.we_advice .container{
  text-align: center;
  color: #ffffff;
}
.we_advice i{
  font-size: 2.5rem;
  margin: 3rem 0 1rem;
}
.we_advice .h1{
  margin-bottom: 1rem;
}

/*  we advice you section css end  */

/* latest news css start */
.LatestNews .secH{
  text-align: center;
}
.LatestNews span[class="yellow"]{
  font-weight: 600;
}
/* Latest News End */

/* partner company css start */
.PartnerCompany .col-20{
width: 14%;
}
.PartnerCompany.defaultPadding{
  padding: 1.5rem 0;
}